<div class="intro">
    <div fxLayout="row" style="width:100%; text-align: center;"
         fxLayout
         fxLayout.xs="column"
         fxLayoutAlign="center"
         fxLayoutGap="10px"
         fxLayoutGap.xs="0">
      <h1 class="logo" fxFlex>Logo</h1>
    </div>
  <div class="control">
    <div class="first" fxLayout="row" style="width:100%; text-align: center;"
         fxLayout
         fxLayout.xs="column"
         fxLayoutAlign="center"
         fxLayoutGap="10px"
         fxLayoutGap.xs="0">
      <div class="item1" fxFlex="15%">
        <button mat-raised-button>Žaidėjų topas</button>
      </div>
      <div class="item2" fxFlex="15%" fxFlexOrder="3">
        <button mat-raised-button>Dienos žaidimas</button>
      </div>
      <div fxFlex>
        <a mat-raised-button routerLink="/game">Pradėti naują žaidimą</a>
      </div>
    </div>
    <div class="second" fxLayout="row" style="width:100%; text-align: center;"
         fxLayout
         fxLayout.xs="column"
         fxLayoutAlign="center"
         fxLayoutGap="10px"
         fxLayoutGap.xs="0">
      <div class="item1" fxFlex="15%">
        <button mat-raised-button>Nustatymai</button>
      </div>
      <div class="item2" fxFlex="15%" fxFlexOrder="3">
        <button mat-raised-button>Daily bonus</button>
      </div>
      <div fxFlex>
        <a mat-raised-button routerLink=".">Pasirinkti kalbą</a>
      </div>
    </div>
  </div>
</div>
