<div class="intro">
    <mat-card fxLayout="row">
    <div style="width:100%; text-align: center;"
         fxLayout
         fxLayout.xs="column"
         fxLayoutAlign="center"
         fxLayoutGap="10px"
         fxLayoutGap.xs="0">
      <div class="item" fxFlex>Logo</div>
    </div>
  </mat-card>
  <mat-card fxLayout="row">
    <div style="width:100%; text-align: center;"
         fxLayout
         fxLayout.xs="column"
         fxLayoutAlign="center"
         fxLayoutGap="10px"
         fxLayoutGap.xs="0">
      <div class="item item-1" fxFlex="15%">Topas</div>
      <div class="item item-2" fxFlex="15%" fxFlexOrder="3">Kiti žaidimai</div>
      <div class="item item-3" fxFlex>Pradėti naują žaidimą</div>
    </div>
  </mat-card>
  <mat-card fxLayout="row">
    <div style="width:100%; text-align: center;"
         fxLayout
         fxLayout.xs="column"
         fxLayoutAlign="center"
         fxLayoutGap="10px"
         fxLayoutGap.xs="0">
      <div class="item item-1" fxFlex="15%">Nustatymai</div>
      <div class="item item-2" fxFlex="15%" fxFlexOrder="3">Daily bonus</div>
      <div class="item item-3" fxFlex>Pasirinkti kalbą</div>
    </div>
  </mat-card>
</div>
