<div class="top-container" fxLayout="row">
  <div style="width:100%; text-align: center;" fxLayout fxLayout.xs="column" fxLayoutAlign="center"
    fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item image-cont" fxFlex>
      <div class="top-nav">
        <span>1 lygis</span>
        <span>Taškai</span>
        <a routerLink="" class="pause">Pauzė</a>
      </div>
      <div id="test">
        <img src="../../assets/img/foto.jpg" alt="dog">
      </div>
    </div>
    <div class="item crossword-cont" fxFlex fxFlexOrder="3">
      <div class="help-btn add-letters">
        <a href="#">?</a>
      </div>
      <!-- Lentele, kurioje bus atvaizduojamas kryziazodis -->
      <div id="crossword-grid" width="400px" style="height:400px;"></div>
    </div>
  </div>
</div>
<div class="container">
  <!-- <div fxLayout="row">
  <div style="width:100%; text-align: center;" fxLayout fxLayout.xs="column" fxLayoutAlign="center"
    fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex>
      <div class="letter">B</div>
      <div class="letter">I</div>
      <div class="letter">G</div>
      <div class="letter">L</div>
      <div class="letter">I</div>
      <div class="letter">S</div>
    </div>
  </div>
</div>
<div fxLayout="row">
  <div style="width:100%; text-align: center;" fxLayout fxLayout.xs="column" fxLayoutAlign="center"
    fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex>
      <div class="letter">A</div>
      <div class="letter">I</div>
      <div class="letter">P</div>
      <div class="letter">N</div>
      <div class="letter">K</div>
      <div class="letter">E</div>
    </div>
  </div>
</div> -->
<ul>
  <li *ngFor="let word of wordsDb | async">
    {{word.word}}
  </li>
</ul>
  <div id="randomLetters"></div>
</div>
