<div fxLayout="row">
  <div style="width:100%; text-align: center; border: 1px solid #000" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-1" style="border: 1px solid rgb(143, 0, 0)" fxFlex>
      <div>
        <span>1 lygis</span>
        <span>Taškai</span>
        <button>Pauzė</button>
      </div>
      <div>
        <img src="../../assets/img/foto.jpg" alt="dog">
      </div>
    </div>
    <div class="item item-2" style="border: 1px solid rgb(143, 0, 0)" fxFlex fxFlexOrder="3">
      <div class="add-letters"></div>
      <div class="add-letters"></div>
      <div class="add-letters"></div>
      <div class="add-letters"></div>
      <div class="add-letters"></div>
    </div>
  </div>
</div>
<div fxLayout="row">
  <div style="width:100%; text-align: center; border: 1px solid #000" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex>
      <div class="letter">L</div>
      <div class="letter">A</div>
      <div class="letter">B</div>
      <div class="letter">A</div>
      <div class="letter">S</div>
    </div>
  </div>
</div>
