<mat-card fxLayout="row">
  <div style="width:100%; text-align: center;"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="30%"><img src="https://assets.hotukdeals.com/assets/img/profile-placeholder_f56af.png"></div>
    <div class="item item-2" fxFlex>Kryžiažodis</div>
  </div>
</mat-card>
<mat-card>
  <div style="width:100%; text-align: center;"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex>Raidės</div>
  </div>
</mat-card>

<app-intro></app-intro>
